*{
    padding:0px;
    margin:0px;
    box-sizing:border-box;
    
   
}
.p1{
    margin-top: 75px;   
}

.navstyling{
    background-color:#9AD4D6;
    min-height:70px;
    border :1px solid #101935;
    border-radius: 25px;
}
.homestyling{
    border:1px solid #101935;
    border-radius: 25px;
    margin-top: 25px;
    min-height: 320px;
    text-align:justify;
    
    
}
.footerstyling{
    width:100%;
    height:120px;
    background-color:#101935;
    border-radius:20px;
    margin-top: 100px;

}
.footerstyling > h1{
    color: #9AD4D6;
    text-align: center;
}
.socialmedia{
    color:#9AD4D6;
    margin-left: 2px;
    

}
.button{
    margin-left:90px;
    padding:10px;
    background-color: #9AD4D6;
    border: 2px solid #101935;
    border-radius:10px;

}

